<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<div style="float:left;width:50%;height:content-box;">
    <div class="card mb-2" style="max-width:840px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="https://i.imgyukle.com/img/2023/05/16/rn0nnv.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ÜRÜN EKLE</h5>
                    <p class="card-text">Ürün eklemek için tıklayın</p>
                    <a href="/dashboard" role="button" class="btn btn-lg btn-success btn-block">Ürün Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="float:right;width:50%;">
    <div class="card mb-2" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="https://i.hizliresim.com/pk2e5mp.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">NOT AL</h5>
                    <p class="card-text">Not almak için tıklayın</p>
                    <a href="/note" role="button" class="btn btn-lg btn-success btn-block">Not Al</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>

</body>
</html>
